:root {
  --anchor: #41424c;
  --coin: #9897a9;
  --cloud: #c5c6d0;
  cursor: crosshair;
  color: var(--cloud);
}

.nav-bar {
  background: transparent;
  color: var(--cloud);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.nav-list {
  list-style: none;
  display: flex;
  text-decoration: none;
  justify-content: space-around;
}

a{
  text-decoration: none;
  color: var(--cloud);
  cursor: move;
  padding: 1rem;
}

.about-me {
  margin-left: 5rem;
  height: 75vh;
  width: 90vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about-me img {
  height: 10rem;
  width: auto;
  z-index: 2;
}